p {
    color: black;
    width: 300px;
}

/**
Esto es un comentario dentro de un documento de CSS
*/
h1 {

    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px 15px 15px 20px;
    font-weight: bold;
    color: blueviolet;
}

section {
    width: 300px;
    border: 15px solid greenyellow;
    padding: 50px;
    margin: 20px;
}